<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <%= form_tag({ action: action },
                  method: "post") do %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :sample, true %>
      <button class="btn btn-block btn-outline-danger">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        View Sample
      </button>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <%= form_tag({ action: action },
                  method: "post") do %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :sample, true %>
      <%= hidden_field_tag :print, true %>
      <button class="btn btn-block btn-outline-dark">
        <i class="fa fa-print" aria-hidden="true"></i>
        Print Sample
      </button>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <%= form_tag({ action: action },
                  method: "post") do %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :search, true %>
      <%= text_field_tag :shop_order, '', font: "FontAwesome", placeholder: "fa fa-search", class:"fa-search btn btn-block btn-outline-dark"%>
       <!-- <span class="input-group-addon">
          <span class ="fa fa-search"><%= text_field_tag :shop_order,'', placeholder: "Search SO#"%></span>
        <span> -->
    <% end %>
  </div>
</div>